.animate1 {

    animation: strand-shrink 1s ease forwards;
    transform: scale(0.5, 0.5);
  }
  
  .animate2 {
    fill-opacity: 0;
    opacity: 0;
    animation: strand-shrink-2 1s ease;
    transform: scale(0.5, 0.5);
    animation-iteration-count: infinite;
  }
  
  .animate3 {

    animation: draw 1s linear;
    transform: scale(0.5, 0.5);
  }
  
  .animate4 {
    fill-opacity: 0;
    opacity: 0;
    animation: draw 1s linear forwards;
    transform: scale(0.5, 0.5);
    animation-iteration-count: infinite;
  }
  
  
  
  @keyframes strand-shrink {
    0% {
      opacity: 1;
      stroke-dasharray: 0 20;
      stroke-dashoffset: -10;
    }
    100% {
      opacity: 1;
      stroke-dasharray: 20 20;
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes strand-shrink-2 {
    from {
      opacity: 1;
      stroke-dasharray: 0 20;
      stroke-dashoffset: -20;
    }
    to {
      opacity: 1;
      stroke-dasharray: 20 20;
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes draw {
    from {
      opacity: 1;
      stroke-dasharray: 150 150;
      stroke-dashoffset: 150;
    }
    to {
      opacity: 1;
      stroke-dasharray: 150 150;
      stroke-dashoffset: 0;
    }
  }
  
  
  
  .svg-container {
    position: absolute;
    top:0px
  }
  .svgBlock{
      position: relative;
      width: 78px;
    height: 46px;
  }