//Typography

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i|Titillium+Web:400,700');

@font-family : 'Source Sans Pro', sans-serif;
@font-family-numbers : 'Titillium Web', sans-serif;
@font-size-small: 12px;
@font-size-regular: 14px;
@font-size-large: 18px;
@font-size-header: 21px;
@font-weight-regular : 400;
@font-weight-bold: 600;
@font-weight-numberbold: 700;

@font-dark: #00153a;
@font-light: #56647c;
@font-verylight: #9ca6ba;
@font-white: #fff;
@font-darkbackground: #d9dce2;

// Product Colors
@color-primary-link: #2a5cb2;
@color-secondary-link : #56647C;
@color-external-link: #09a1e3;
@color-button-hover: #165be5;
@color-blue: #2a5cb2;
@color-green: #1baa96;
@color-red: #e5432d;
@color-organe: #ff6600;
@color-yellow: #fad223;

@color-background-white: #fff;
@color-background-lightgrey: #f8f8f8;
@color-background-darkgrey: #f1f1f1;
@color-background-linkblue: #dfe6f3;
@color-background-green: #ddf2ef;
@color-background-blue: #daf0fa;
@color-background-red: #fbe2df;
@color-background-organe: #ffe8d9;
@color-background-yellow: #fef8de;
@color-background-dark: #3a3c3e;

//shadows
@box-shadow-borderbottom: inset 0 -1px 0px 0 rgba(0, 0, 0, 0.2);
@box-shadow-active: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
@box-shadow-pop: 0 2px 6px 0 rgba(0, 21, 58, 0.2);

//border
@color-border-base: #d9dce2;
@color-border-white: #fff;
@color-border-inputactive: #6a8dc9;
@border-radius-base : 2px;
@button-border-radius-base : 2px;

//buttons and input
@input-height-base : 34px;
@input-padding-vertical-base : 4px;
@input-padding-horizontal : 16px;
@button-height-base : 34px;
